img {
  display: block;
}
ul {
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  user-select: none;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  align-content: space-between;
}
.gallery-item {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
.gallery-item img {
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: contain;
  width: 360px;
  height: 200px;
}
